@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    cursor: pointer;
    align-items: center ;
}
body {
    background-image: url('https://t4.ftcdn.net/jpg/05/65/36/85/360_F_565368520_phwt1VWyTMxuy9AQXs9swruTwPycQIyr.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    color: white;
    background-attachment: fixed; /* Achtergrondafbeelding blijft vast tijdens het scrollen */
    background-color: rgba(0, 0, 0, 0.559);
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(54, 54, 54, 0.343);
    padding: 10px 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}


/* Spotify balk styling */
.spotify {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.682);
    border-radius: 5px;
    background-color: #373737;
    margin-top: 50px;
    color: white;
}

/* Spotify logo styling */
.spotify .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Spotify logo image styling */
.spotify img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* Spotify form styling */
.spotify form {
    display: flex;
    flex-direction: column;
}

/* Spotify form styling */
.spotify .form-group {
    margin-bottom: 20px;
}

/* Spotify select styling */
.spotify select {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: 1px solid rgb(76, 73, 73);
    transition: 0.5s;
}


/* Spotify select hover styling */
.spotify select:hover {
    box-shadow: 0 0 10px 1px white;
}

/* Spotify label styling */
.spotify label {
    color: #fff;
    margin-bottom: 8px;
}

.spotify button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

/* Spotify button hover styling */
.spotify button:hover {
    background-color: #0056b3;
}

/* Spotify label styling */
form label {
    color: #fff;
}

/* Form select styling */
form select {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: 0.5px solid rgb(76, 73, 73);
    transition: 0.5s;
    box-sizing: border-box;
}

/* Form select hover styling */
form select:hover {
    transition: 0.5s;
    box-shadow: 0 0 10px 1px white;
}

/* Player container styling */
.player-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #454141;
    border-radius: 8px;
}

#select_genre, #select_playlist {
    width: 100%;
    margin-top: 10px;
}

h3 {
    text-align: center;
}


.navbar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    transition: 0.5s;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar a:hover {
    color: orange;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.containerSp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story {
    margin-bottom: 15px;
}

#moreButton {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#moreButton:hover {
    background-color: #0056b3;
}

footer {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    align-items: center;
    background-color: rgb(54, 54, 54);
    padding: 20px; /* Increased padding for a more balanced look */
    border-top: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 0 10px; /* Adjust spacing between links */
    font-weight: bold; /* Enhance readability */
}

footer a:hover {
    color: orange;
}

.story-box {
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px 20px;
    background-color: #454141;
    transition: 0.5s;
}

.story-box:hover {
    box-shadow: 0 0 10px 1px white;
}

.story-box h3 {
    margin-bottom: 8px;
    color: #008000;
}

.story-box button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.story-box button:hover {
    background-color: #0056b3;
}

.story-link {
    font-size: 12px;
    color: #27ce8e;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.story-link:hover {
    text-decoration: underline;
    cursor: crosshair;
}

.story-box button {
    background-color: #44ff006d;
    color: #fff;
    padding: 5px 10px;
    border: none;
}

/* Login/Register Form Styling */
.login-container,
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.682);
    border-radius: 5px;
    background-color: #3737372d;
    margin-top: 50px;
    color: white;
}

.login-container h2,
.register-container h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
    color: white;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: 1px solid #fff;
    transition: 0.5s;
}

input:hover {
    box-shadow: 0 0 10px 1px white;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

#password {
    flex: 1;
    border-radius: 8px;
}

button:hover {
    background-color: #0056b3;
}

#loginMessage, #registermessage {
    text-align: center;
    margin-top: 16px;
}

.login-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#no-account {
    margin-top: 17px;
}

#no-account a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#psd-forgot {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.comments-container {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.comment-box {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #454141;
}

.comment-text {
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

/*end Content styling in the container*/


/* start more button*/
#moreButton {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;  
    border-radius: 15px;
}

#moreButton:hover {
    background-color: #0056b3;
}

.password-input-container {
    position: relative;
    display: inline-block;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
@media only screen and (min-width: 576px) {
    form label {
        text-align: right;
    }

    form select {
        margin-top: 0;
    }

    body {
        background-size: 100%;
    }
}

/* Tablet landscape and larger */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    .spotify {
        width: 80%;
    }

    body {
        background-size: 100%;
    }
}

/* Desktop and larger */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 800px;
    }

    body {
        background-size: 100%;
    }
}

/* Large desktop and larger */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    body {
        background-size: 100%;
    }
}
