* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: rgb(54, 54, 54);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 54, 54);
    padding: 10px 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}

.navbar {
    width: 150px;

}

.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    transition: .5s;
}

.navbar a:hover {
    color: orange;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.story {
    margin-bottom: 15px;
}

#moreButton {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#moreButton:hover {
    background-color: #0056b3;
}

footer {
    height: 50px;
    border-top: 1px solid #dee2e6;
    background-color: #f8f9fa3f;
    border-radius: 8px;
}

.story-box {
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px 20px;
    background-color: #454141;
    transition: .5s;
}

.story-box:hover {
    box-shadow: 0 0 10px 1px white;
}

.story-box h3 {
    margin-bottom: 8px;
}

.story-box button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.story-box button:hover {
    background-color: #0056b3;
}

.story-link {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Login side */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.682);
    border-radius: 5px 30px;
    background-color: #373737;
    margin-top: 50px; 
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: 0.5px solid rgb(76, 73, 73);
    transition: .5s;
}

input:hover {
    padding: 10px;
    box-shadow: 0 0 10px 1px white;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: #0056b3;
}

#loginMessage {
    text-align: center;
    margin-top: 16px;
}


.comments-container {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.comment-box {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #454141;
}


/* Tablet landschap en groter */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 600px; 
    }
}

/* Desktop en groter */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 800px; 
    }
}

/* Grote desktop en groter */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1000px; 
    }
}
